Code/Symmetry/__pycache__
/TestImages/*
/TestVideos/*
.pytest_cache
.tmp.driveupload/*
desktop.ini
*.jpg
*.ini
*.png
*.ini
Code/Symmetry/.vscode/desktop.ini
TestVideos/New folder/desktop.ini
Videos/Movement_sense_video/desktop.ini
Videos/Movement_sense_video/other/desktop.ini
Code/Symmetry/.vscode/desktop.ini
